:root {
  --google-red: #DB4437;
  --google-blue: #4285F4;
  --google-yellow: #F4B400;
  --google-green: #0F9D58;
}
.header {
  position: relative;
  width: 65%;
  left: 25%;
  transform: translate(-25%, -0%);
}

.main-carousel {
  position: relative;
  padding: 0px;
}

.flickity-button {
  background: none;
}

.flickity-button:hover {
  background: none;
  color: black;
  transition-duration: 0.5s;
}

.flickity-page-dots {
}

.carousel-cell {
  width: 100%;
  min-height: 320px;
  color: black;
  counter-increment: carousel-cell;
}

.cell-container {
  position: absolute;
  width: 80%;
  height: auto;
  top: 50%;
  left: 45%;
  transform: translate(-45%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-container {
  position: relative;
  float: left;
  width: 45%;
  height: 100%;
  text-align: left;
}
.description {
  position: absolute;
  height: auto;
  top: 50%;
  transform: translate(0%, -50%);
}

.image {
  position: relative;
  float: left;
  width: 60%;
  margin-left: 10px;
  height: 100%;
}

.image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: contain;
}

.tools {
  margin-bottom: 20px;
  font-size: 12px;
}

.red {
  color: var(--google-red);
}

.blue {
  color: var(--google-blue);
}

.yellow {
  color: var(--google-yellow);
}

.green {
  color: var(--google-green);
}
