/* variables */
:root {
  --gradient-teal: rgba(59, 141, 153, 0.8) ;
  --gradient-purple: rgba(107, 107, 131, 0.9);
  --gradient-silver: rgba(230, 233, 242, 0.2);
  --teal: rgb(116, 147, 164);
  --purple: rgb(107, 107, 131);
  --sbu-red: rgb(153, 0, 0);
  --link: rgb(242, 230, 217);
  --link-hover: rgb(80, 47, 80);
}

/* HTML tags styling */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: black;
}

a:link, a:visited {
  text-decoration: none!important;
}

.purple {
  color: var(--purple);
}

.teal {
  color: var(--teal);
}

#headline {
  padding-left: 10%;
  text-align: left;
  font-weight: bold;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  line-height: 1.5em;
  font-size: 2em;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}
.bold {
  font-weight: bold;
}

hr {
  margin-top: -20px;
  margin: -10px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0));
}

/* caret animation styling */
h1 span {
  border-right: .5em solid grey;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {

}

/* navigation bar styling */
nav {
  height: auto;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  width: 100%;
  font-size: 0.75em;
  z-index: 1; /* any pos integer fixes the issue of body div going in front of fixed nav */
}

nav ul {
  line-height: 25px;
  max-width: 100%;
  display: inline-block;
  position: relative;
  list-style: none;
  vertical-align: middle;
  margin:0 auto;
  padding: 0;
  text-transform: lowercase;
  font-family: 'Roboto Mono', sans-serif;
}

nav li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    padding: 10px;
}

nav a {
  color: white;
  opacity: 0.5;
  transition-duration: 0.2s;
}

nav a:hover {
  opacity: 1.0;
  transition-duration: .5s;
}

.external-links ul, .external-links li {
  color: black;
  display: inline-block;
  vertical-align: baseline;
  line-height: 20px;
  padding-left: 20px;
}

.external-links a, .external-links a:visited {
  text-decoration: none !important;
  color: black;
  opacity: 0.6;
  transition-duration: 0.2s;
}

.external-links a:hover {
  opacity: 1.0;
  transition-duration: 0.5s;
}

/* Intro styling */
#headline {
  font-family: 'Roboto Mono', sans-serif !important;
  font-size: 26px;
  color: black;
  padding-top: 10px;
}

#intro {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, var(--gradient-purple), var(--gradient-teal), var(--gradient-silver)), url("images/connection.jpg") center fixed;
  background-size: cover;
}

#about, #skills, #projects, #faves {
  position: relative;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
}

#projects {
}

#about {
  background-color: #f2f2f2;
  min-height: 50vh;
  text-align: center;
}

#contact {
position: absolute;
opacity: 0.9;
width: 60%;
max-height: 90%;
top: 60%;
left: 50%;
transform: translate(-50%, -60%);
}

textarea {
  min-height: 20vh;
}

#sendbtn {
  background-color: var(--gradient-teal);
  border: 1px solid var(--gradient-teal);
}

#sendbtn:hover {
  background-color: white;
  color: var(--gradient-teal);
  border: 1px solid var(--gradient-teal);
  transition-duration: 0.5s;
}
#footer {
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  max-height: auto;
  background: linear-gradient(to bottom, var(--gradient-teal), var(--gradient-silver)), url("images/connection.jpg") center fixed;
  background-size: cover;
  justify-content: center;
}

#footerfont {
  font-size: 0.8em;
  opacity: 0.8;
  color: white;
  position: absolute;
  bottom: 0px;
  padding-bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);
}

.skillsbox {
  float: left;
  background-color: silver;
  border: 1px solid grey;
  border-radius: 5px;
  max-width: 250px;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.skillsbox:hover {
  box-shadow: 0px 5px 5px silver;
  transition-duration: 0.5s;
}
.skillsbox ul {
  list-style: none;
  padding-left: 0;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: auto;
  width: 80%;
}

.header-container {
  position: relative;
  float: left;
  width: 20%;
}

.content {
  position: relative;
  float: left;
  text-align: center;
  min-width: 80%;
}

.intro-main {
  position: relative;
  margin:0 auto;
  top:50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transform: translateY(-50%);
  width: 55%;
  text-align: center;
}

/* Intro img styling */
.me {
  top: 50%;
  left: 50%;
}

.me img {
  transition-duration: 1.5s;
  height: 160px;
  border-radius: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: saturate(0%);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.me img:hover {
  transition-duration: 2s;
  -webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
  filter: saturate(100%);
}

/* Info sections styling */
.info {
}

/* Small elements styling */
.fa-home {
  padding-right: 10px;
}

.resume {
  background-color: grey;
}
.resume:hover {

}

/* SBU styling */
#sbu {
  transition-duration: .2s;
  color: var(--sbu-red);
  text-shadow: 0px 0.5px 0.5px grey;
}
#sbu:hover {
  transition-duration: .2s;
  text-shadow: 0px 0px 0px grey;
}
.paws {
  color: var(--sbu-red);
}

/* arrow styling & animation */
#arrow, #arrow:visited {
  position: absolute;
  top: 85%;
  left: 50%;
  color: rgb(242, 230, 217);
  opacity: 0.8;
}

#arrow:hover {
  opacity: 1.0;
}

@-webkit-keyframes pulse {
  from { color: rgb(230, 233, 242);  }
  50% { color: rgb(107, 107, 131) }
  to { color: rgb(230, 233, 242); }
}

#arrow {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}
