:root {
  --gradient-purple: rgba(107, 107, 131, 0.9);
  --gradient-teal: rgba(59, 141, 153, 0.8) ;
  --gradient-silver: rgba(230, 233, 242, 0.2);
  --teal: rgb(59, 141, 153);
  --purple: rgb(107, 107, 150);
  --sbu-red: rgb(153, 0, 0);
  --error: rgb(255, 77, 77);
}

/* HTML tags styling */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: black;
  background: linear-gradient(to bottom, var(--gradient-teal) 40%, var(--gradient-purple) 65%, var(--gradient-teal) 80%, var(--gradient-silver) 100%), url("images/connection.jpg") center fixed;
  background-size: cover;
}

a:link, a:visited {
  text-decoration: none !important;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8em;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}
.bold {
  font-weight: bolder;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0));
}

/* caret animation styling */
h1 span {
  border-right: .5em solid grey;
  animation: caret 1s steps(1) infinite;
}
@keyframes caret {

}

/* navigation bar styling */
nav {
  height: 50px;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  width: 100%;
  font-size: 0.85em;
  z-index: 1; /* any pos integer fixes the issue of body div going in front of fixed nav */
  transition-duration: 0.5s;
}
nav ul {
  line-height: 25px;
  max-width: 100%;
  display: inline-block;
  position: relative;
  list-style: none;
  vertical-align: middle;
  margin:0 auto;
  padding: 0;
  text-transform: lowercase;
  font-family: 'Roboto Mono', sans-serif;
}
nav li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    padding: 10px;
}
nav a {
  color: white;
  opacity: 0.6;
  transition-duration: 0.2s;
}

a:hover {
  color: white;
  opacity: 1.0;
  transition-duration: 0.5s;
}
a {
  color: white;
  opacity: 0.9;
  transition-duration: 0.2s;
}

#intro, #about, #skills, #projects, #footer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#about {
  background-color: #f2f2f2;
  text-align: center;
}


.content-container {
  height: 100%;
  width: 100%;
  position: relative;
}
.content {
  position: absolute;
  width: 65%;
  max-height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Intro styling */
.type-writer {
  height: 4em;
  width: 37.8em;
  margin: 0 auto;
}
#headline {
  font-family: 'Roboto Mono', sans-serif !important;
  text-align: left;
  font-weight: bold;
  line-height: 1.6em;
  font-size: 1.6em;
  color: black;
  padding-top: 10px;
}
#intro {
  background: linear-gradient(to bottom, var(--gradient-purple), var(--gradient-teal), var(--gradient-silver)), url("images/connection.jpg") center fixed;
  background-size: cover;
}
.intro-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
  text-align: center;
}
/* Intro img styling */
.me img {
  transition-duration: 1.5s;
  height: 160px;
  border-radius: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: saturate(0%);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.me img:hover {
  transition-duration: 2s;
  -webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
  filter: saturate(100%);
}

/* Skills styling */
#skills .content {
  width: 90%;
}
.skillsbox {
  display: inline-block;
  vertical-align: top;
  width: auto;
  min-height: 400px;
  margin: 20px;
  padding: 5px;
  padding-top: 20px;
  font-weight: bolder;
  border-radius: 5px;
}
.skillsbox .fas {
  opacity: 0.7;
}
.skillsbox:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition-duration: 0.5s;
}
.skillsbox:hover .fas {
  color: var(--purple);
  opacity: 1.0;
}
.skillsbox:hover .fa-code {
  color: var(--teal);
}
.skillsbox ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.7em;
}
.purple {
  color: var(--purple);
}
.teal {
  color: var(--teal);
}

/* Footer/contact styling */
#footer {
  color: white;
  position: relative;
  bottom: 0;
  overflow: auto;
  max-height: auto;
  justify-content: center;
  overflow: visible;
}
#contact {
  position: absolute;
  opacity: 0.9;
  width: 60%;
  max-height: 90%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  vertical-align: top;
}

textarea {
  min-height: 20vh;
  max-height: 30vh;
}
a p {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0); /* fixes shaking issue on hover in chrome */
  opacity: 0;
  transition-duration: 1s;
}
a:hover p {
  opacity: 1;
}

.btn {
  opacity: inherit;
  background-color: var(--teal);
  border: 1px solid var(--teal);
}
.btn:hover {
  background-color: white;
  color: var(--teal);
  border: 1px solid var(--teal);
  transition-duration: 0.5s;
}

/* Small elements styling */
.fa-home {
  padding-right: 10px;
}

.resume {
  background-color: var(--purple);
}

.invalid {
  color: var(--error);
  display: none;
}
.invalid::before {
  content: "\f06a\ "; /* font awesome exclamation-point icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

#signature {
  font-size: 0.85em;
  opacity: 0.8;
  color: white;
  position: absolute;
  bottom: 0px;
  padding-bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);
}

/* SBU styling */
#sbu {
  transition-duration: .2s;
  color: var(--sbu-red);
  text-shadow: 0px 1px 1px grey;
}
#sbu:hover {
  transition-duration: .2s;
  text-shadow: 0px 0px 0px grey;
}

/* arrow styling & animation */
#arrow, #arrow:visited {
  position: absolute;
  top: 90%;
  left: 50%;
  color: rgb(242, 230, 217);
  opacity: 0.8;
}
#arrow:hover {
  opacity: 1.0;
}
@-webkit-keyframes pulse {
  from { color: rgb(230, 233, 242);  }
  50% { color: rgb(107, 107, 131) }
  to { color: rgb(230, 233, 242); }
}
#arrow {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}
