:root {
  --gradient-purple: rgba(107, 107, 131, 0.8);
  --gradient-teal: rgba(59, 141, 153, 0.8) ;
  --gradient-silver-o: rgba(230, 233, 242, 0.7);
  --gradient-silver: rgba(230, 233, 242, 0.2);
  --teal: rgb(59, 141, 153);
  --purple-o: rgb(92, 87, 150);
  --purple: rgba(92, 87, 150, 0.4);
  --sbu-red-o: rgb(153, 0, 0);
  --sbu-red: rgba(153, 0, 0, 0.4);
  --error: rgb(255, 77, 77);
  --syncsort: rgba(75, 139, 255, 0.4);
  --syncsort-o: rgb(75, 139, 255);
}

/* HTML tags styling */
body {
  font-family: 'Roboto Mono', sans-serif;
  margin: 0;
  color: black;
  background: linear-gradient(to bottom, var(--gradient-purple) 20%, var(--gradient-silver-o) 50%, var(--gradient-teal) 70%, var(--gradient-silver) 100%), url("images/connection.jpg") center fixed;
  background-size: cover;
}

a:link, a:visited {
  text-decoration: none !important;
}

h1 {
  font-size: 1.8em;
  line-height: 2em;
}
h2 {
  font-size: 1.5em;
  line-height: 1.5em;
}
h3 {
  font-size: 1.2em;
}
.bold {
  font-weight: bolder;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0));
}

/* caret animation styling */
h1 span {
  border-right: .5em solid grey;
  animation: caret 1s steps(1) infinite;
}
@keyframes caret {

}

/* navigation bar styling */
nav {
  height: 70px;
  position: fixed;
  font-size: 0.85em;
  z-index: 1; /* any pos integer fixes the issue of body div going in front of fixed nav */
  transition-duration: 0.5s;
  width: 100%;
  text-shadow: 1px 1px black;
}
nav ul {
  line-height: 50px;
  list-style: none;
  font-family: 'Roboto Mono', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  float: left;
  width: 100%;

}
nav #logo {
  font-size: 3em;
  letter-spacing: 2px;
}
nav li {
    display: inline-block;
    font-weight: bolder;
    padding: 10px;
    min-width: 120px;
}
nav a {
  color: white;
  opacity: 0.8;
  transition-duration: 0.2s;
  text-align: center;
}
.nav-left {
  position: relative;
  float: left;
  left: 3%;
}

.nav-right {
  position: absolute;
  right: 3%;
  float: right;
}


nav a:hover {
  text-shadow: none;
  color: white;
  transition-duration: 0.3s;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
}

#intro, #about, #skills, #projects, #footer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: left;
}

.content-container {
  height: 100%;
  width: 100%;
  position: relative;
}
.content {
  position: absolute;
  width: 65%;
  max-height: 90%;
  top: 50%;
  left: 25%;
  transform: translate(-25%, -50%);
  font-weight: medium;
}

#projects .content {
  width: 100%;
}


/* Intro styling */
.type-writer {
  height: 4em;
  width: 100%;
  margin: 0 auto;
}
#headline {
  font-family: 'Roboto Mono', sans-serif !important;
  text-shadow: 1px 1px black;
  text-align: left;
  font-weight: bold;
  line-height: 1.6em;
  font-size: 2em;
  color: white;
  opacity: 0.8;
  padding: 5px;
  width: 90%;
  margin: 0 auto;
}
#intro {
  background-size: cover;
}
.intro-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
/* Intro img styling */
.me img {
  transition-duration: 1.5s;
  height: 160px;
  border-radius: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: saturate(0%);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.me img:hover {
  transition-duration: 2s;
  -webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
  filter: saturate(100%);
}

/* Skills styling */

.skills {
}
.skillsbox {
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: 450px;
  padding: 5px;
  padding-top: 20px;
  font-weight: bolder;
  border-radius: 5px;
}
.skills li {
  display: inline-block;
}
.purple {
  color: var(--purple);
}
.teal {
  color: var(--teal);
}

/* Footer/contact styling */
#footer {
  color: white;
  position: relative;
  bottom: 0;
  overflow: auto;
  max-height: auto;
  justify-content: center;
  overflow: visible;
}
#contact {
  position: absolute;
  opacity: 0.9;
  width: 60%;
  max-height: 90%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  vertical-align: top;
}

textarea {
  min-height: 20vh;
  max-height: 30vh;
}
a p {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0); /* fixes shaking issue on hover in chrome */
  opacity: 0;
  transition-duration: 1s;
}
a:hover p {
  opacity: 1;
}

.btn {
  opacity: inherit;
  background-color: var(--teal);
  border: 1px solid var(--teal);
}
.btn:hover {
  background-color: white;
  color: var(--teal);
  border: 1px solid var(--teal);
  transition-duration: 0.5s;
}

/* Small elements styling */
.fa-home {
  padding-right: 10px;
}

.resume {
  background: linear-gradient(to right, var(--purple), var(--purple-o));
  background-size: 300% 40%;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  transition-property: background-position;
  transition-duration: 0.2s;
  padding: 0;
}
.resume:hover {
  background-position: 90% 100%;

}

.invalid {
  color: var(--error);
  display: none;
}
.invalid::before {
  content: "\f06a\ "; /* font awesome exclamation-point icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

#signature {
  font-size: 0.85em;
  opacity: 0.8;
  color: white;
  position: absolute;
  bottom: 0px;
  padding-bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);
}

/* SBU styling */
#sbu {
  background: linear-gradient(to right, var(--sbu-red), var(--sbu-red-o));
  background-size: 300% 40%;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  transition-property: background-position;
  transition-duration: 300ms;
  padding: 0;
}
#sbu:hover {
  background-position: 50% 100%;
}

#comodo {
  background: linear-gradient(to right, var(--sbu-red), var(--sbu-red-o));
  background-size: 300% 40%;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  transition-property: background-position;
  transition-duration: 300ms;
  padding: 0;
}
#comodo:hover {
  background-position: 50% 100%;
}

#syncsort {
  background: linear-gradient(to right, var(--syncsort), var(--syncsort-o));
  background-size: 300% 40%;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  transition-property: background-position;
  transition-duration: 300ms;
  padding: 0;
}
#syncsort:hover {
  background-position: 80% 100%;
}
/* arrow styling & animation */
#arrow, #arrow:visited {
  position: absolute;
  top: 90%;
  left: 50%;
  color: rgb(242, 230, 217);
  opacity: 0.8;
}
#arrow:hover {
  opacity: 1.0;
}
@-webkit-keyframes pulse {
  from { color: white; }
  50%  { color: rgb(107, 107, 131); }
  to   { color: white; }
}
#arrow {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}
